{% extends "base.html" %}
{% block title %}Imagem → PDF — CuboPDF{% endblock %}
{% block content %}
<h1>Imagem → PDF</h1>
<p>
Converta <strong>imagens em PDF</strong> rapidamente com o <strong>CuboPDF</strong>.
</p>

<form action="" method="post" enctype="multipart/form-data" class="form">
  <input type="file" name="images" multiple required>
  <button type="submit">Converter</button>
</form>
<details>
  <summary>CLIQUE AQUI PARA SABER MAIS</summary>
  <div>
    <p>Com a ferramenta <strong>Imagem para PDF</strong>, você pode juntar várias fotos (JPG, PNG, etc.) em um único arquivo PDF, organizado e pronto para compartilhar.</p>

    <p>Isso é útil para criar relatórios visuais, enviar documentos digitalizados ou reunir imagens em um só arquivo.</p>

    <p>O processo é totalmente online, seguro e não deixa seus arquivos armazenados em nossos servidores.</p>
  </div>
</details>

{% endblock %}
