{% extends "base.html" %}
{% block title %}PDF → Word — CuboPDF{% endblock %}
{% block content %}
<h1>PDF → Word</h1>
<p>
Edite seus arquivos convertendo <strong>PDF para Word</strong> de graça no <strong>CuboPDF</strong>.
</p>

<form action="" method="post" enctype="multipart/form-data" class="form">
  <input type="file" name="pdf" required>
  <button type="submit">Converter</button>
</form>
<details>
  <summary>CLIQUE AQUI PARA SABER MAIS</summary>
  <div>
    <p>A função <strong>PDF para Word</strong> transforma documentos em arquivos editáveis no formato DOCX. Assim, você pode alterar textos, imagens e tabelas facilmente no Microsoft Word ou Google Docs.</p>

    <p>O CuboPDF mantém a formatação do arquivo original e garante praticidade no processo de conversão.</p>

    <p>Perfeito para estudantes, profissionais e empresas que precisam editar documentos em PDF.</p>
  </div>
</details>
{% endblock %}
