{% extends "base.html" %}
{% block title %}Remover páginas — CuboPDF{% endblock %}
{% block content %}
<h1>Remover páginas</h1>
<p>
Quer <strong>excluir páginas de um PDF</strong>? O <strong>CuboPDF</strong> permite remover partes indesejadas de forma rápida e segura.
</p>
<form action="" method="post" enctype="multipart/form-data" class="form">
  <input type="file" name="pdf" required><input type="text" name="ranges" placeholder="2,4-6">
  <button type="submit">Remover</button>
</form>
<details>
  <summary>CLIQUE AQUI PARA SABER MAIS</summary>
  <div>
    <p>Com a ferramenta <strong>Remover páginas do PDF </strong>, você pode apagar trechos desnecessários de documentos sem precisar instalar softwares. Basta enviar o arquivo, selecionar as páginas que deseja eliminar e baixar a versão final limpa.</p>

    <p>Essa função é perfeita para relatórios longos, trabalhos acadêmicos ou contratos em que certas páginas não são mais relevantes.</p>

    <p>Todos os arquivos são processados em tempo real e excluídos automaticamente após o uso, garantindo segurança e privacidade.</p>
  </div>
</details>

{% endblock %}
